body{
	margin: 0 auto;
	background-color: #eee;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	height: 15%;	
	margin: 1px auto;

}
#header-wrapper{
	width: 100%;
	height: 115px;
	background-color: #1D1C1C;
	
	/*margin-bottom: 5%;
	position: fixed;
	top: 0;
	/*z-index: 100;*/
}	
#top-header{
	width: 100%;
	max-width: 1024px;
	height: 50px;
	background-color: #1D1C1C;
	margin: 2px auto;
	padding-top: 37px;
}
#logo{
	float: left;
	width: 14%;		
}
#search{
	float: left;
	width: 50%;
	/*background-color: white;*/
	

}
#search input{
	width: 230px;
	height: 30px;
	border-radius: 3px;
	margin-left: 4%;
}
#search #location{
	width: 130px;
	height: 30px;
	border-radius: 3px;
	margin-left: 5px;
}
#search button{
	height: 35px;
	width: 100px;
	border-radius: 3px;
	background-color: #49BEDA;
}
#user-menu{
	width: 24%;
	max-width: 280px;
	float: left;
	height: 30px;
	margin: 0 auto;
	margin-top: 3px;	
	/*background-color: white;*/
	padding-left: 10px;
	padding-top: 5px;
	font-size: 0.8em;
}
#user-menu span{
	font-size: 1.5em;
	color: white;
}
#user-menu a{
	color: white;
}
nav{
	width: 100%;
	background-color: #555;
	height: 50px;
	position: relative;
	top:-13px;
	
}
#nav-wrap{
	max-width: 1024px;
	margin: 2px auto;
	background-color: transparent;
}
nav ul li{
	display: inline-block;
	line-height: 45px;
	text-align: center;
	margin: 0 45px;
	color: white;
}
nav a{
	color: white;
}
/*header ends here------------------------*/
#body-wrapper{
	width: 100%;
	max-width: 1024px;
	background-color: pink;
	height: auto;
	border:1px solid;
	margin: 1% auto;
}
#left{
	width: 25%;
	
	background-color: yellow;
	float: left;
	margin: 3px;
	padding: 10px;
	border: 1px solid;
}
/*footer starts here---------------------*/

footer{
	width: 100%;
	background-color: #222;
	margin: 5px auto;
	height: 310px;
	
}
footer a{
	text-decoration: none;
	color: white;
}
footer h3{
	color: #FFFFFF;
}
#sub-footer{
	width: 100%;
	max-width: 1024px;
	margin: 5px auto;
}
#company, #work, #more{
	display: block;
	width: 20%;
	padding: 2px;
	margin: 5px;
	/*height: 250px;*/
	float: left;
	background-color: transparent;

}
#company a, #work a, #more a{
	display: block;
	margin: 1px;
	padding: 1px;
	color: #949494;
}
#us a{
	display: inline-block;
}
#us{
	background-color: transparent;
	width: 10%;
	float: left;
}
#mobile-app{
	width: 19%;
	background-color: green;
	float: right;
	margin-top: 1%;
}
#mobile-app img{
	width: 50px;
	height: 75px;
	float: left;
	margin-top: 1px;
	margin-right: 3px;

}

#low-footer{
	background-color: #555;
	width: 100%;
	z-index: -100;
	
}
#low-footer-wrapper{
	background-color: #555;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 3px;
	text-align: center;
	font-style: line-thorugh
}
#modal-wrapper{
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: 1050;
}
.modal{
	width: 300px;
	height: 600px;
	height: auto;
	display: block;
	position: relative;
	left: 25%;
	top: 15%;
	opacity: 1.0;

}




